<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="profile-page.component.css" rel="stylesheet" type="text/css">
  <base href="/">
  <title>CMS</title>
</head>
<body>
  <header>
    <div class="backtop">
      <div class="top">
        <div class="top_bar_buttons">

          <div class="back">
            <span> < Back </span>
          </div>

        </div>
      </div>
    </div>

  </header>

  <main>
    <div class="userContainer">
      <div id="userTitle">
        <span>Profile details</span>
      </div>

      <div class="formContainer">

        <form action="">
          <div class="inputContainer">
            <label>Full Name:</label>
            <input type="text" #fullname placeholder="Your full name..">
          </div>

          <div class="inputContainer">
            <label>Email:</label>
            <input type="text" #email placeholder="Your email..">
          </div>

          <div class="inputContainer">
            <label>Affiliation:</label>
            <input type="text" #affiliation placeholder="Affiliation you're in..">
          </div>

          <div class="inputContainer">
            <label>Webpage:</label>
            <input type="text" #webpage placeholder="Your webpage..">
          </div>

          <hr>

          <input type="submit" value="Save" (click)="save(fullname.value, email.value, affiliation.value, webpage.value)" style="float: right">

        </form>

      </div>

    </div>
  </main>

</body>
