
<div *ngFor="let conferencel of conferences" class="panel conference-panel">
  <div class="conference_name"> {{conferencel.name}}</div>

  <div class="conference-chairs-container">
    <div class="conference-chairs">Chair: {{conferencel.chairName}} </div>
    <div class="conference-chairs">Co-Chair: {{conferencel.co_chairName}}</div>
  </div>

<div class="conference-dates">
  <div class="conference-dates-chunk">
    <p class="dates-title">Conference date:</p>
    <div class="conference-date">Starting date: {{conferencel.conference.startingDate.day}}/{{conferencel.conference.startingDate.month}}/{{conferencel.conference.startingDate.year}}</div>
    <div class="conference-date">Ending date: {{conferencel.conference.endingDate.day}}/{{conferencel.conference.endingDate.month}}/{{conferencel.conference.endingDate.year}}</div>
  </div>
  <br>
  <div class="conference-dates-chunk">
    <p class="dates-title">Submission deadlines:</p>
    <div class="conference-date">Abstract deadline: {{conferencel.conference.abstractDeadline.day}}/{{conferencel.conference.abstractDeadline.month}}/{{conferencel.conference.abstractDeadline.year}}</div>
    <div class="conference-date">Paper deadline: {{conferencel.conference.paperDeadline.day}}/{{conferencel.conference.paperDeadline.month}}/{{conferencel.conference.paperDeadline.year}}</div>
  </div>
  <br>
  <div class="conference-dates-chunk">
    <p class="dates-title">Evaluation deadlines:</p>
    <div class="conference-date">Bidding deadline:{{conferencel.conference.bidDeadline.day}}/{{conferencel.conference.bidDeadline.month}}/{{conferencel.conference.bidDeadline.year}}</div>
    <div class="conference-date">Review deadline:{{conferencel.conference.reviewDeadline.day}}/{{conferencel.conference.reviewDeadline.month}}/{{conferencel.conference.reviewDeadline.year}}</div>
    <div class="conference-date">Re-evaluation deadline: {{conferencel.conference.reEvalDate.day}}/{{conferencel.conference.reEvalDate.month}}/{{conferencel.conference.reEvalDate.year}}</div>
    <div class="conference-date">Final result on: {{conferencel.conference.submissionDate.day}}/{{conferencel.conference.submissionDate.month}}/{{conferencel.conference.submissionDate.year}}</div>
  </div>
</div>
  <br>
  <div class="pc">
    <p class="pc-title">Program committee:</p>
    <div *ngFor="let pc of conferencel.conference.pc_members">{{pc}},  </div>
    <div *ngIf="conferencel.conference.sections.length>0">
      <br>Sections:
      <div *ngFor="let section of conferencel.conference.sections">{{section.name}} supervised by {{section.sc_name}}</div>
    </div>
  </div>

  <br><button class="conference_button" *ngIf="!conferencel.joined" (click)="joinConference(conferencel.conference.id)">Join conference</button>
</div>
