<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="login-page.component.css" rel="stylesheet" type="text/css">
  <base href="/">
  <title>Login</title>
</head>
<header>
  <div class="backtop">
    <div class="top">

      <div class="brand">
        <a href="index.html">Logo</a>
      </div>

      <div class="searchbox" (click)="mainpage()">
        <input type="search">
        <button type="submit" id="buton_cautare">
          <svg width="24" style="stroke:#fff;stroke-width:0;vertical-align:bottom" height="24"
               viewBox="0 0 24 24" data-icon="search">
            <path
              d="M9 3C5.686 3 3 5.686 3 9c0 3.313 2.686 6 6 6s6-2.687 6-6c0-3.314-2.686-6-6-6m13.713 19.713c-.387.388-1.016.388-1.404 0l-7.404-7.404C12.55 16.364 10.85 17 9 17c-4.418 0-8-3.582-8-8 0-4.42 3.582-8 8-8s8 3.58 8 8c0 1.85-.634 3.55-1.69 4.905l7.403 7.404c.39.386.39 1.015 0 1.403">
            </path>
          </svg>
        </button>
      </div>

      <div class="top_bar_buttons">
        <div class="back"(click)="back()">
          <span> Back </span>
        </div>
      </div>

    </div>
  </div>

</header>

<h1 class="registerText">Login</h1>
<br>
<div class="container">
  <form action="">
    <h3 class="registerText">Username</h3>
    <input #username type="text" required>
    <h3 class="registerText">Password</h3>
    <input #password type="password" required>
    <br> <input type="button" (click)="login(username.value, password.value)" value="Sign in">
  </form>
</div>

<div id="error_message">{{error}}</div>
</html>
