<div *ngIf="hasAnyConference()">

<div class="option" (click)="addAbstract()"> Start your own paper</div>
<div class="option" (click)="changeDeadlines()" *ngIf="isUserChairForConference()">Change deadlines</div>
<div class="option" (click)="addPCMemberOption()" *ngIf="isUserChairForConference()">Add PC Member</div>
<div class="addpcmember" *ngIf="pcmember_option">
  <input type="text" #username placeholder="username">
  <button (click)="addPCMember(username.value)">Add</button>
</div>

<div class="deadline">Abstract Deadline is {{getAbstractDeadline()}}</div>
<div class="deadline">'Call for papers' Deadline is {{getPaperDeadline()}}</div>
<div class="deadline">Bidding Deadline is {{getBidDeadline()}}</div>
<div class="deadline">Review Deadline is {{getReviewDeadline()}}</div>

<div *ngFor="let abstract of abstracts" class="panel">
 <h4>{{abstract.entity.name}}</h4> by <h5>{{abstract.authorName}}</h5>
  <br>
  <h6>{{abstract.entity.content}}</h6>
  <h5>Authors that contributed: {{abstract.entity.additionalAuthors}}</h5>

  <select *ngIf="isUserPCMemberForConference() && !isUserAuthor()">
    Bid:
    <option>Accept for review</option>
    <option>Don't care for review</option>
    <option>Refuse for review</option>
  </select>
  <button (click)="bidAbstract()" *ngIf="isUserPCMemberForConference() && !isUserAuthor()">Bid</button>
  <br><button (click)="reviewPaper()" *ngIf="isUserPCMemberForConference() && !isUserAuthor()">Review</button>
  <br><button *ngIf="isUserChairForConference() && !isUserAuthor()">assign reviewers</button>
  <br><button *ngIf="isUserChairForConference() && !isUserAuthor()">ask for re-evaluation</button>
  <br><button *ngIf="( isUserChairForConference()||isUserPCMemberForConference() ) && !isUserAuthor()"> See other reviewers evaluation</button>

</div>
</div>
