.option {
  cursor: pointer;
  padding: 15px 15px 15px 15px;
  color: whitesmoke;
  min-width:200px;
  max-width: 600px;
  border-radius: 1px;
  text-align: center;
  background-color: dodgerblue;
  margin-top: 10px;
}
