<body>
<div class="panel member-panel" *ngFor="let member of members">
  <div class="member-name">
    <img src="assets/user.png" height="24px">
    <span>{{member.fullname}}</span>
    <span class="member-username">#{{member.username}}</span>
  </div>
  <br><div class="member-email"><img src="assets/email.png"> <span id="email">{{member.email}}</span></div>
  <br><div class="member-aff"><img src="assets/affiliation.png"> <span id="affiliation">{{member.affiliation}}</span></div>
  <br><a href="{{member.webpage}}" class="member-site"><img src="assets/website.png"><span id="webpage">{{member.webpage}}</span></a>
</div>
</body>
