.paper-download{
  text-decoration: none;
  color: #202020;
}

.paper-button{
  margin: 10px;
}

.paper-name{
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #202020;
  background: rgba(0, 138, 230, 0.3);
  padding: 10px;
}

.paper-author{
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: #202020;
  padding: 10px;
}

.paper-abstract{
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: #202020;
  padding: 10px;
}

.paper-panel:hover{
  background: rgba(0, 138, 230, 0.1);
}
