<article class="panel paper-panel" *ngFor="let paper of papers">
  <div class="paper-name">{{paper.paper_name}}</div>
  <div class="paper-author"><em>{{paper.author_name}}</em></div>
  <div class="paper-abstract">{{paper.abstract_content}}</div>
  <button class="paper-button"><a href=" https://youtu.be/dQw4w9WgXcQ" class="paper-download">Download full paper</a></button>

  <!-- schimba la loc lol <button><a href="{{paper.content}}" class="paper-download">Download full paper</a></button> -->
</article>
