
.back {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding: 15px;
  text-align: center;
  border: 1px solid;
  border-radius:3px;
  height: 10px;
  line-height: 10px;
  transition-duration: 1s;
}
.back{
  border-color:dodgerblue;
  transition-duration: 1s;
  transition: background-color 2s;
  background: linear-gradient(0deg, rgba(70,160,250,0.9), rgba(70,160,250,1) 20%, rgba(70,160,250,0.9));
}
.back:hover{
  transition-duration: 1s;
  transition: background-color 2s;
  background: linear-gradient(0deg, rgba(65,155,250,0.9), rgba(65,155,250,1) 20%, rgba(65,155,250,0.9));
  border-bottom-color:white;
}

.container input[type=text], .container input[type=password]{
  width: 40%;
  display:block;
  margin: 10px auto;
  border: 2px solid rgba(70,160,250,1);
  border-radius: 10px;
  padding: 10px 10px;
  box-sizing: border-box;
}
.container input[type=button]{
  width: 20%;
  display:block;
  padding: 12px;
  margin: 10px auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.registerText{
  text-align: center;
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;

}

.registerButton{
  width: 20%;
  height:50px;
  display:block;
  padding: 15px;
  margin: 10px auto;
  border: 1px solid #ccc;
  box-sizing: border-box;

  text-align: center;
  border-radius:3px;
  line-height: 10px;
  color:whitesmoke;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.registerButton{
  cursor:pointer;
  border-color:dodgerblue;
  transition-duration: 1s;
  background: linear-gradient(0deg, rgba(70,160,250,0.9), rgba(70,160,250,1) 20%, rgba(70,160,250,0.9));
}
.registerButton:hover{
  transition-duration: 1s;
  background: linear-gradient(0deg, rgba(65,155,250,0.9), rgba(65,155,250,1) 20%, rgba(65,155,250,0.9));
  border-bottom-color:white;
}
.middle{
  display:block;
}
