<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="register-page.component.css" rel="stylesheet" type="text/css">
  <base href="/">
  <title>Register</title>
</head>
<body>

<header>
  <div class="backtop">
    <div class="top">

      <div class="brand">
        <img src="assets/logo.png"(click)="mainpage()">
      </div>

      <div class="searchbox" (click)="mainpage()">
        <input type="search">
        <button type="submit" id="buton_cautare">
          <svg width="24" style="stroke:#fff;stroke-width:0;vertical-align:bottom" height="24"
               viewBox="0 0 24 24" data-icon="search">
            <path d="M9 3C5.686 3 3 5.686 3 9c0 3.313 2.686 6 6 6s6-2.687 6-6c0-3.314-2.686-6-6-6m13.713 19.713c-.387.388-1.016.388-1.404 0l-7.404-7.404C12.55 16.364 10.85 17 9 17c-4.418 0-8-3.582-8-8 0-4.42 3.582-8 8-8s8 3.58 8 8c0 1.85-.634 3.55-1.69 4.905l7.403 7.404c.39.386.39 1.015 0 1.403">
            </path>
          </svg>
        </button>
      </div>

      <div class="top_bar_buttons">
        <div class="back"(click)="back()">
          <span> Back </span>
        </div>
      </div>
    </div>
  </div>
</header>
  <h1 class="registerText">Create an account</h1>
  <br>
  <div class="container">
    <form>
      <h3 class="registerText">Username</h3>
      <input placeholder="Username" #username type="text" required/>
      <h3 class="registerText">Password</h3>
      <input placeholder="Password" #password type="password" required/>
      <h3 class="registerText">Verify Password</h3>
      <input placeholder="Verify Password" #verifyPassword type="password" required/>
      <h3 class="registerText">Full Name</h3>
      <input placeholder="Full Name" #fullName type="text" required/>
      <h3 class="registerText">Email</h3>
      <input placeholder="Email" #email type="text" required/>
      <h3 class="registerText">Affiliation</h3>
      <input placeholder="Affiliation" #affiliation type="text" required/>
      <h3 class="registerText">Website</h3>
      <input placeholder="Website" #userWebsite type="text" required/>
      <br><br>
      <div class="registerButton" (click)="register(username.value, password.value, verifyPassword.value,
      email.value, fullName.value, affiliation.value,userWebsite.value)"> Sign up</div>
      <br><br><br>
    </form>
  </div>
</body>
</html>
